@model RecentPostsViewModel


<ul>
    @foreach (var post in Model.RecentPosts)
    {
        <li>
            <a href="post-details.html">
                <h5>@post.Title</h5>
                <span>May 31, 2020</span>
            </a>
        </li>
    }

</ul>