@model RecentPostsViewModel

<ul>
    @foreach (var post in Model.RecentPosts)
    {
        <li>
            <a href="@Url.Action("Post", "Blog" , new { id= post.Id })">
                <h5>@post.Title</h5>
                <span>@post.PublishedOn.ToString("MMM dd, yyyy")</span>
            </a>
        </li>
    }

</ul>